.form-create-store-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    width: 70%;
}

.create-store-title-main {
    font-weight: 700;
    margin-top: 18px;
    font-size: 22px;
    color: #15292a;
}

.create-store-categories {
    border: 1px solid gray;
    display: flex;
    width: 80%;
}

.create-store-categories h4 {
    margin: 5px;
    padding: 6px 12px;
    min-width: 140px;
}

.create-store-main{
    width: 90%;
}

.store-type {
    border-bottom: 1px solid gray;
}

.selected-type {
    background-color: #054b45;
    color: #fff;
}

.InputCreateStore{
    border: 1px solid #80808060;
    margin: 5px 0;
    padding: 8px;
    width: 100%;
}

.TextAreaCreateStore {
    height: 120px;
    border: 1px solid #80808060;
    width: 100%;
    margin-top: 5px;
}

.create-store-submit {
    padding: 8px 15px;
    background-color: #23747a;
    color: white;
    margin: 10px;
}

.create_store_main_container {
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories_list_wrapper {
    height: 70vh;
    overflow-y: scroll;
    width: 100%;
}

.categories_list_container {
    width: 48%;
}

.categories_list_selected_container {
    width: 48%;
    margin-left: 4%;
    position: relative;
}

.create-store-categories-submit-container {
    position: absolute;
    bottom: 0;
    padding: 12px;
    width: 100%;
}

.create-store-categories-submit-container button{
    position: absolute;
    right: 12px;
    bottom: 12px;
    color: #fff;
    background-color: rgb(7, 34, 48);
    padding: 8px 20px;
}

.categories_list_wrapper_selected {
    width: 100%;
}

.categories_list_container_title {
    margin-bottom: 20px;
}

.create-store-selected-type {
    min-width: 120px;
    padding: 8px auto;
    border-radius: 6px;
    border: 1px solid gray;
}

.create-store-selected-type-wrap {
    display: flex;
    border: 1px solid gray;
    border-radius: 6px;
    align-items: center;
    position: relative;
    margin-bottom: 5px;
}

.create-store-selected-type-wrap h4 {
    margin: auto;
}

.absolut {
    position: absolute;
    margin: 0;
    right: 12px;
}

.create-store-main-image-preview-container {
    position: relative;
}

.create-store-image-preview-wrapp {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    border: 1px solid #808080a9;
}

.create-store-image-preview {
    max-width: 100%;
    max-height: 100%;
}

.create-store-label-input-file {
    position: absolute;
    right: 10px;
    bottom: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    z-index: 5;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}

.create-store-label-input-file:hover {
    background-color: #00555ad3;
    color: #fff;
}
