.form-create-store-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    width: 70%;
}

.create-store-categories {
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.store-type {
    border-bottom: 1px solid gray;
}

.selected-type {
    background-color: green;
}

