.create-item-main-page {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    height: calc(100vh - 70px);
    overflow-y: auto;
}

.create-item-input-wrapper{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.create-item-input-wrapper label {
    width: 180px;
    margin-right: 12px;
    padding: 8px;
    font-size: 14px;
    text-align: start;
}

.create-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 100%;
}

.create-item-title {
    margin-top: 30px;
}

.create-item-form {
    width: 70%;
    position: relative;
}

.create-item-input-file {
    display: none;
}

.create-item-label-input-file {
    cursor: pointer;
    margin: 12px;
    width: 70%;
    border: 1px solid #cdcdcd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border-radius: 8px;
    color: #232323bd;
}

.input-file-icon {
    width: 24px;
    height: auto;
    margin: 6px;
}

.create-item-image-previews-container {
    max-width: 80vw;
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    align-items: center;
}

.create-item-image-previews-container::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: rgb(78, 77, 77);
}

.create-item-image-previews-container::-webkit-scrollbar-thumb {
    background-color: black;
}

.create-item-image-preview {
    width: 150px;
    height: 150px;
    margin: 1px 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-item-image {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    margin: auto;
}

.create-item-images-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 14px;
}

.upload-progress {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-progress-bar-container {
    width: 90%;
    margin-left: 5%;
    display: flex;
    position: fixed;
    z-index: 8;
    margin-top: 10px;
}

.item-step {
   background-color: rgba(143, 143, 143, 0.685);
   height: 12px;
   transform: skew(-30deg);
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 12px;
   cursor: pointer;
}

.active-step {
    background-color: #046168e0;
    color: #e7e7e7e0;
}

.create-item-price-input {
    border: 1px solid #8080807f;
    height: 40px;
}