header {
    padding: 10px 2%;
    position: fixed;
    align-items: center;
    z-index: 10;
    background-color: #fff;
    top: 0;
    box-shadow: 1px 1px 5px #b5b5b5;
}

.header-icons img {
    width: 30px;
    height: auto;
    margin-right: 30px;
}

.user-Icon-wrap {
    width: 30px;
    height: 30px;
    margin-left: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.user-Icon-r {
    max-width: 100%;
    width: auto;
    height: auto;
}

.user-Icon {
    width: 30px;
    height: auto;
    margin-left: 30px;
}

.right-icons-wrap {
    position: absolute;
    right: 2%;
}

.searchIcon {
    width: 15px;
    height: auto;
    cursor: pointer;
}

.search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 30px;
    width: 30vw;
    border-radius: 15px;
    border: 1px solid rgba(167, 167, 167, 0.473);
    background-color: rgba(167, 167, 167, 0.473);
    margin:0 2%;
}

.search-wrapper input {
    width: 90%;
    border: none;
    height: 100%;
    margin: 0;
    margin-right: 2%;
    border-radius: 15px;
    padding-left: 15px;
}

.cart-icon {
    position: relative;
}

.header-cart-length {
    position: absolute;
    right: 18%;
    padding: 1px;
    border-radius: 50%;
    background-color: #ffffffeb;
    color: rgb(63, 63, 63);
    top: 3px;
    font-size: 13px;
}
