.my_store_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100vw;
    padding-bottom: 30px;
}

.my_store_categories_title_name {
    font-weight: 700;
    font-size: 28px;
    margin-top: 16px;
}

.my_store_image_and_details {
    width: 80%;
    border: 1px solid gray;
    display: flex;
    /* align-items: center; */
    margin-bottom: 20px;
    padding-bottom: 30px;
    padding-bottom: 30px;
    position: relative;
}

.store-name {
    margin-left: 0;
}

.my_store_image_wrap {
    width: 40vw;
    height: 40vw;
}

.my_store_details_wrap {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    height: 100%;
    /* border: 1px solid gray; */
    width: 47%;
    text-align: start;
}

.my_store_categories_wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    padding-bottom: 30px;
    position: relative;
}

.my_store_categories {
    display: flex;
    align-items: center;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.my_store_categories a {
    padding: 12px 8px;
    border-radius: 6px;
    border: 1px solid gray;
    min-width: 100px;
    margin-right: 12px;
}

.my_store_categories_title {
    font-weight: 700;
    font-size: 20px;
    margin: 14px;
}

.my_store_details_location {
    display: flex;
    margin: 12px 0;
}

.my_store_details_location_icon {
    display: flex;
    align-items: center;
    color: gray;
}

.my_store_categories_places_container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    margin-top: 20px;
    padding-bottom: 30px;
    position: relative;
}

.my_store_categories_places {
    margin: 0;
    max-width: 100%;
    overflow-x: scroll;
}

.my_store_categories_places div {
    border: 1px solid gray;
    border-radius: 6px;
    display: flex;
    padding: 8px;
    margin: 3px;
}

.edit-link {
    position: absolute;
    right: 12px;
    bottom: 12px;
}

.my_store_image {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    margin: auto;
}
