.item-show-images-container {
    width: 50vw;
    height: 32vw;
    margin-right: 30px;
}

.item-show-input-number-to-checkout {
    width: 40px;
    /* position: absolute; */
}

.item-show-wrap-input-number-to-checkout {
    min-width: 40px;
    display: flex;
    justify-content: center;
}

.item-show-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.item-show-wrapper {
    width: 90%;
    display: flex;
}

.item-show-details{
    width: 40vw;
    text-align: start;
    min-height: 100%;
}

.item-show-details h4 {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 16px 0;
}

.item-show-details p{
   max-width: 100%;
}

.item-show-details-container {
    width: 100%;
}

.item-show-details-attributes-wrapp {
    display: flex;
    align-items: center;
}

.item-show-details-attribute {
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    text-align: center;
    background-color: black;
    color: #fff;
    margin-right: 5px;
}

.item-show-change-quantity-button {
    background-color: #b1b5b591;
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: 400;
    margin: 6px;
    border-radius: 50%;
    cursor: pointer;
}

.item-show-change-quantity-button:hover {
    background-color: #015264d8;
    color: #fff;
}

.item-show-details-attributes-container p {
    color: #383737e7;
}

.add-to-cart-button-wrapp {
    width: 100%;
}

.add-to-cart-button {
    width: 80%;
    padding: 10px;
    color: #fff;
    background-color: #276262;
    margin: 12px 0;
    display: flex;
    justify-content: center;
}

.item-quantity-available {
    font-weight: 400;
}

.inactive-button {
    background-color: #b0b0b0;
    color: #555;
    cursor: default;
}

.white-loader {
    color: #f1f1f1 !important;
}

.inactive-button:hover {
    background-color: #b0b0b0;
    color: #555;
    cursor: default;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }