.user-account-avatar-wrap {
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid gray;
}

.user-account-details {
    max-width: 700px;
    text-align: start;
}

.user-account-details p {
    color: rgba(49, 49, 49, 0.788);
}

.user-account-name {
    font-weight: 500;
    font-size: 18px;
}

.user-account-edit-image-button {
    padding: 8px 14px;
}

.user-account-edit-image {
    width: 40vw;
    position: relative;
    height: 40px;
}

.user-account-edit-image a {
    position: absolute;
    right: 0;
}

.logout-button-wrap {
    width: 80%;
    position: relative;
}

.logout-button {
   position: absolute;
   right: 0;
   padding: 4px 12px;
   background-color: rgba(170, 127, 8, 0.795);
   color: rgb(19, 18, 18);
}
