.countries-lister {
    width: 90%;
    max-width: 700px;
    position: relative;
}

.country-search-input {
    width: 100%;
    border: 1px solid gray;
}

.countries-list {
    height: 300px;
    width: 80%;
    /* border: 1px solid rgba(4, 54, 73, 0.925); */
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
    box-shadow: 1px 1px 10px #3f3f3f;
}

.country-item {
    color: rgb(32, 32, 32);
    width: 100%;
}

.country-item p {
    padding: 7px;
}

.selected-country {
    background-color: rgb(185, 183, 183);
    color: #fff;
}

.country-item:hover {
    background-color: rgb(175, 174, 174);
    color: #fff;
}