@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;0,800;1,300&family=Oxygen:wght@300;400;700&family=Yatra+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 50px;
  /* background-color: rgb(247, 246, 234); */
  height: 100vh;
  scroll-behavior: smooth;
}

label {
  cursor: pointer;
}

#root {
  min-height: 100%;
  /* background-color: #dddddd61; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-size: 12px;  
}

a {
  color: rgb(0, 98, 128);
}

.center {
  align-items: center;
}

.relative {
  position: relative;
}

h2{
  font-size: 22px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

.pointer {
  cursor: pointer;
}

.limit-text-show-more {
  cursor: pointer;
  color: #272727;
  font-weight: 500;
}

.limit-text-show-less {
  cursor: pointer;
  color: #013e48;
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #003e45fa;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #003e45;
}