.my-stores-container {
    width: 100%;
    min-height: 100vh;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 16px;
    background-color: #f5f5f5;
}

.my-store-wrapper {
    width: 90%;
    min-height: 240px;
    margin-top: 24px;
    display: flex;
    align-items: center;
    text-align: start;
    box-shadow: 1px 2px 10px gray;
    border-radius: 12px;
    background-color: #fff;
}

.my-store-picture-container {
    width: 30%;
    height: 300px;
}

.my-store-details {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    margin-left: 3%;
    width: 67%;
    position: relative;
}

.my-store-location {
    display: flex;
}

.my-store-categories-wrapper {
    display: flex;
    position: absolute;
    bottom: 10px;
    overflow-x: auto;
    width: 90%;
}

.my-store-categories-wrapper p {
    padding: 8px;
    background-color: #003e45fa;
    margin: 10px;
    color: #ffffffb8;
    width: fit-content;
    border-radius: 8px;
    box-shadow: 1px 2px 5px #5d5d5d;
}

.my-store-create-new {
    position: absolute;
    right: 5%;
    margin-bottom: 20px;
}

.my-store-name {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 20px;
}

.my-store-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.stores-list-ananlysis-link {
    position: absolute;
    right: 20px;
    top: 10px;
    display: flex;
    align-items: center;
}

.stores-list-ananlysis-link span {
    margin-right: 8px;
}
